body {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 18px;
}

.layout {
    position: relative;
}

nav {
    position: relative;
    z-index: 99;
    color: #ffffff;

    .navbar-wrapper {
        position: absolute;
        width: 100%;
        padding: 76px 0px;
        padding-right: 30px;
    }
}

.section-base {
    padding: 90px 0px;
}

.section-color {
    background-color: $light;
}

.title {
    font-size: 24px;
    font-weight: 700;
}

.wrapper {
    padding: 48px 0px;
}