.hero {
    position: relative;
    .hero-overlay {
        background-color: rgba(198, 108, 73, 0.4); 
        width: 100%;
        height: 100vh;
        max-height: 767px;  
        position: absolute;
        z-index: 2;
    }

    .hero-image {
        background: url('../img/hero-image.png');
        background-size: cover;
        background-repeat: no-repeat; 
        width: 100%;
        height: 100vh;
        max-height: 767px;
    }

}